[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
apache-airflow = "*"
augmentor = "*"
catboost = "*"
cookiecutter = "*"
fbprophet = "*"
# fastai = "*"
gensim = "*"
keras = "*"
isort = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-contrib-nbextensions = "*"
jupyterlab = "*"
jupyternotify = "*"
lightgbm = "*"
matplotlib = "*"
moviepy = "*"
nltk = "*"
numpy = "*"
numba = "*"
pandas = "*"
patsy = "*"
pymagnitude = "*"
pymc3 = {git = "https://github.com/pymc-devs/pymc3.git"}
python-dateutil = "*"
pystan = "*"
pytest = "*"
scipy = "*"
# scikit-learn = {git = "git://github.com/scikit-learn/scikit-learn.git"}
scikit-learn = "*"
seaborn = "*"
setuptools = "*"
spacy = "*"
tensorflow = "==2.0.0-alpha0"
# tensorflow-gpu = "*"
# tensorboard = "*"
# tensorboardx = "*"
# torch = "*"
# torchtext = "*"
# torchvision = "*"
# weather-api = "*"
wheel = "*"
mypy = "*"
vaex = "*"

[requires]
python_version = "3.6.6"
